@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto, sans-serif;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px;
    /*border: 2px solid red;*/
}

.header div {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.first {
    background-color: #1f2937;
    padding: 80px 200px 100px 200px;
    display: flex;
    gap: 50px;
}

.hero {
    flex: 1;
}

.main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

.second-text {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 10px;
}

button {
    background-color: #3882f6;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 32px;
    font-size: 18px;
}

.image {
    flex: 1;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    gap: 20px;
}

a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}